<main class="main-confirm">
  <p class="confirm-text">El usuario ha sido {{message}} con éxito</p>
  <div class="confirm-buttons">
      <a class="confirm-button" href="/">Inicio</a>
      <a class="confirm-button" href="/usuario/{{action}}">{{link}}</a>
  </div>
</main>